#productbody{
    display: flex;
    width: 95%;
    margin: auto;
    /* background-color: antiquewhite; */
}
#filterBy{
    width: 15%;
    margin: 10px;
    text-align: center;
    /* background-color: red; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
#productsgrid{
    width: 80%;
    margin: 20px;
    background-color: white;
}
#sortBy{
    width: 20%;
    margin-top: 15px;
    margin-left: 15px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    border: none;
    /* background-color: beige; */
}

#pricefilter,#discountfilter,#categoryfilter,#timetoshipfilter,#returnablefilter, #cancellablefilter, #storenamefilter{
    width: 90%;
    margin: auto;
    height: 30px;
    margin-bottom: 10px;
    /* border-radius: 15px; */
    /* background-color: beige; */
}

#groupBy {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}